doctype html
html
	head
		title= title

		link(rel='stylesheet', href='/style.css')
		link(href='http://fonts.googleapis.com/css?family=Arvo', rel='stylesheet')
		link(href='http://fonts.googleapis.com/css?family=Architects+Daughter', rel='stylesheet')
		link(href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css", rel="stylesheet")
	
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js")
		script(src="javascripts/rangeslider.min.js")
		script(src="javascripts/jquery.knob.min.js")
		script(src="javascripts/WebMIDIAPI.js")
		
		script(src="javascripts/webrtc.io.js")
		script(src="javascripts/script.js")
		script(src="javascripts/eqCanvas.js")
		script(src="javascripts/audioJS.js")
		

		body(onload="init()")
		block content